<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://signupbackgroundfunction20191125112912.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/79704d5d-a0df-4d2d-8d4b-c96130eea963/resourcegroups/SignUpBackGroundFunction20191125112912ResourceGroup/providers/Microsoft.Web/sites/SignUpBackGroundFunction20191125112912</ResourceId>
    <UserName>$SignUpBackGroundFunction20191125112912</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://signupbackgroundfunction20191125112912.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>